
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Verhindern der Endlosschleife, wenn die Anfrage bereits zu index.php geht
    RewriteCond %{REQUEST_URI} !^/kundenselbstauskunft_lions_de/index.php
    
    # Weiterleitung aller anderen Anfragen zu index.php
    RewriteRule ^(.*)$ /kundenselbstauskunft_lions_de/index.php/$1 [L,R=301]

</IfModule>


